---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title}`}>
  <!-- Image -->
  <img
    class="w-full h-24 object-cover"
    src={entry.data.image}
    alt={entry.data.title}
  />

  <!-- Title -->
  <div class="py-4">
    <h2 class="text-2xl text-center">
      {entry.data.title}
    </h2>

    <p class="text-center text-sm text-gray-500">
      {entry.data.date}
    </p>
  </div>

  <div class="my-4">
    <Content />
  </div>

  <!-- Navigate back -->
  <div class="py-4 text-gradient font-mono mt-auto">
    <a href="/">cd..</a>
  </div>
</Layout>
